/* page 1 css starts here */
#W{
    width: 1000px;
    text-align: center;
}
.p{
    width: 500px;
}
.navspace{
    padding: 10px;
    margin: 10px;
}
.floatleft2{
   
    clear: both;
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
   
}
.floatleft3{
    float: left;
    margin: 10px auto;
    padding: 50px;
    display: block;
    
}
nav {
    padding: 10px;
    background-color: rgb(190, 186, 186);
    
}
header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 700px;

}
body {
    background-color: tan;
}
.center{
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}
ol {
    list-style-position: inside;
    text-align: center;
  }

/* page 1 css ends here */

/* page 2 starts here */
#net{
    background-image: url(../images/court.jpeg) ;
    background-color: #ccc;
    background-size: cover;
}
article {
    width: 350px;
    height: 350px;
    background: grey;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    box-shadow: 20px;
    opacity: 70%;
    overflow: scroll
}
article > img{
    width: 350px;
    height: 200px;
    margin: auto;
}
.floatleft{
    float: left;
    margin: 10px auto;
}
article:hover{
    transition-duration: 0.5s;
    transform: scale(1.10);
    opacity: 100%;
}
#pos4{
    position: absolute;
    top: 50px;
    left: 200px
}
#pos3{
    position: absolute;
    top: 50px;
    left: 750px
}
#pos2{
    position: absolute;
    top: 50px;
    right: 250px
}
#pos1{
    position: absolute;
    top: 600px;
    right: 250px
}
#pos6{
    position: absolute;
    top: 600px;
    left: 750px
}
#pos5{
    position: absolute;
    top: 600px;
    left: 200px
}
/* page 2 ends here */

/* form page css starts here */
input[type="text"],select,textarea{
    width: 30%;
    padding: 12px;
    border-radius: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.email{
    width: 30%;
    padding: 12px;
    border-radius: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: green;
}

/* form page css ends here */